p{
  color:#331327;
  text-align: center;
  font-size: 30px;
}

h1{
  color:#991766;
  text-align: center;
  font-size: 30px;
}
#selo{
  color:#f34739;
  text-align:center;
  font-size: 35px;
}
.texto{
  color:#d90f5a;
  text-align: center;
  font-size: 40px;
}
body{
  background-color:#f9f2e7;
}
