p{
  color:#331327;
  text-align: center;
  font-size: 35px;
}

h1{
  color:#991766;
  text-align: center;
  font-size: 55px;
}
#selo{
  color:#f34739;
  text-align:center;
  font-size: 38px;
}
.texto{
  color:#d90f5a;
  text-align: center;
  font-size: 45px;
}
body{
  background-color:#f9f2e7;
}
.texto2{
  color:#ff6e27;
  text-align: center;
  font-size: 38px;
}

h2{ 
   color:#ff6e27;
  text-align: center;
  font-size: 40px;
}

