p{
  color:rgb(255, 60, 0);
  text-align: center;
  font-size: 30px;
}

h1{
  background-color:rgba(90, 90, 241, 0.555)
  color;
  text-align: center;
  font-size: 30px;
}
#selo{
  color:#DC8686;
  text-align:center;
  font-size: 35px;
}
.texto{
  color:#7ED7C1;
  text-align: center;
  font-size: 40px;
}
body{
  background-color:#ffffea;
}
